<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirige la racine vers public/
    RewriteRule ^$ public/ [L]
    
    # Redirige tout le reste vers public/ en gardant le chemin
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
</IfModule>